{% extends "../home.twig" %}

{% block nickname %}{% endblock %}

{% block mentorsBtnClass %}class="active"{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/list.css">
    <list>
        <form class="search-bar">
            <p>Search by name:</p>
            <input type="text"><br>
            <input type="submit" value="Search">
        </form>
        <div class="list">
            <form method="get">
                <button class="list-node" type="submit" name="addMentor">
                    <p>  +  Add new mentor</p>
                </button>
            </form>
            {% for mentor in mentors %}
                <div class="list-node mentor">
                    <p>{{mentor.getFirstName()}} {{mentor.getLastName()}}</p>
                </div>
            {% endfor %}
        </div>
    </list>
{% endblock %}