{% extends "../home.twig" %}

{% block nickname %}{% endblock %}

{% block mentorsBtnClass %}class="active"{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/list.css">
    <list>
        <form class="search-bar">
            <p>Search by name:</p>
            <input type="text"><br>
            <input type="submit" value="Search">
        </form>
        <div class="list">
            <a class="list-node" href="/admin/addMentor">
                <p>  +  Add new mentor</p>
            </a>
            {% for mentor in mentors %}
                <form>
                    <input type="text" name="id" style="display: none" value="{{mentor.getId()}}">
                    <input type="submit" class="list-node mentor" value="{{mentor.getFirstName()}} {{mentor.getLastName()}}"">
                </form>
            {% endfor %}
        </div>
    </list>
{% endblock %}