
    *{
        margin: 0;
        padding: 0;
    }

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #eee;
}

#wrapper{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #afceff;
}

#login-panel{
    margin-top: 60px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#title img{
    width: 100px;
    margin-bottom: 10px;
}

#QS{
    font-size: 55px;
    margin-bottom: 45px;
    -webkit-text-fill-color: black;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}

input{
    margin-top: 5px;
    height: 20px;
}

input[type="submit"]{
    align-self: center;
    width: 120px;
    height: 30px;
    border: none;
    background-color: #4A9ACB;
    color: white;
    font-size: 15px;
}

input[type="submit"]:hover{
    background-color: #D94140;
    cursor: pointer;
}